/*.iml
target
.idea
logs
allure-results
test-output
/dev-testng.xml
chromedriver
geckodriver
._geckodriver
._chromedriver
._.gitignore
/src/test/resources/data.dev.properties
/MerimenExport.csv
/AutoTest_PDF_Template1.pdf
/AutoTest_PDF_Template3.pdf
/AutoTest_PDF.pdf
/bre-web-ui-test/dev-testng.xml
/bre-web-ui-test/*.iml
/bre-web-ui-element/*.iml
*.iml
.history
bin
org.eclipse.jdt.core.prefs
